html {
    font-size: 62.5%;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: var(--sub-color);
    margin-top: 10px;
}

.dashboard {
    border-radius: 50px;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: var(--primary-color);
}

.nav__category {
    border-right: 2px solid #2e2f38;
}

/* Logo */
.category__logo {
    width: 100%;
    height: 50px;
    margin-left: 8px;
}

.category__logo-link {
    width: 120px;
    text-decoration: none;
    list-style: none;
}

.category__logo-item {
    --logo-size: 30px;
    width: var(--logo-size);
    height: var(--logo-size);
}

.category__logo-name {
    list-style: none;
    font-size: 28px;
    color: #fff;
    font-weight: 600;
}

/* menu */
.nav__category-list {
    margin: 0px -4px 20px;
    list-style: none;
}

.nav__category-item {
    width: var(--category-item-width);
    height: 44px;
    margin-top: 20px;
    border-radius: 8px;
}

.nav__category-item:hover,
.nav__category-item.active {
    background-color: var(--sub-color);
    box-shadow: 0px 10px 20px #303030;
}

.nav__category-link {
    text-decoration: none;
    font-size: 16px;
}

.nav__category-icon {
    font-size: 14px;
    color: var(--sub-text-color);
    border-radius: 50%;
    width: var(--category-icon-size);
    height: var(--category-icon-size);
    background-color: var(--sub-color);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.nav__category-item:hover .nav__category-icon,
.nav__category-item.active .nav__category-icon {
    background-color: var(--sub-color-2);
}

.nav__category-item:hover .nav__category-icon,
.nav__category-item.active .nav__category-icon,
.nav__category-item:hover .nav__category-content,
.nav__category-item.active .nav__category-content {
    color: var(--text-white-color);
}

.nav__category-content {
    color: var(--sub-text-color);
    width: calc(var(--category-item-width) - var(--category-icon-size) - 20px);
    padding-left: 10px;
}

/* search */
.search-bar {
    height: 40px;
    width: 97%;
}

.search-box {
    background-color: var(--sub-color);
    height: 40px;
    border-radius: 8px;
    margin-left: -12px;
}

.search__icon {
    color: #fff;
    width: 10px;
    height: 10px;
    font-size: 14px;
    padding-right: 24px;
}

.search__input {
    width: 90%;
    background-color: var(--sub-color);
    outline: none;
    border: none;
    color: #fff;
    height: 36px;
    font-size: 16px;
}

/* home filter */
.home-filter {
    margin-top: 30px;
}

/* home product */
.home-product {
    margin-top: 16px;
}

.home-product-box {
    margin-left: 0;
    margin-right: 0;
}

.home-product-item {
    width: 100%;
    margin-top: 10px;
    padding-bottom: 8px;
    border-radius: 20px;
    background-color: var(--background-color);
    cursor: pointer;
    display: block;
    text-decoration: none;
    list-style: none;
    transition: transform 0.1s linear;
    will-change: transform;
}

.home-product-item:hover {
    transform: translateY(-2px);
    box-shadow: 0 1px 20px 0 rgba(209, 209, 209, 0.05);
}

.home-product-item__img {
    --border-radius-value: 20px;
    width: 90%;
    padding-top: 90%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    border-radius: var(--border-radius-value);
}

.home-product-item__author {
    padding: 10px 0 0 16px;
    font-weight: 500;
    font-size: 4px;
    color: var(--sub-text-color);
}

.home-product-item__name {
    padding: 6px 16px;
    display: -webkit-box;
    line-height: 2.2rem;
    height: 3rem;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    /* text-overflow: ellipsis;
    white-space: nowrap; */
}

.home-product-item__info {
    display: flex;
    align-items: center;
    padding-bottom: 8px;
}

.home-product-item__price {
    margin-left: 16px;
}

.home-product-item__price-icon {
    font-size: 16px;
}

.home-product-item__action {
    margin-right: 16px;
}

.home-product-item__name,
.home-product-item__price-icon,
.home-product-item__price-content,
.home-product-item__action,
.home-product-item__like-icon-fill {
    color: var(--text-white-color);
}

/* User */
.user {
    border-left: 2px solid #2e2f38;
}
